<div class="main-container">
  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="login-header">
          <h3>Login</h3>
          <p>Press the button to log in</p>
        </div>
      </div>
      <div class="login-form">
        <div class="webcam-container">
          <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                  [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                  [videoOptions]="videoOptions"
                  [imageQuality]="1"
                  (cameraSwitched)="cameraWasSwitched($event)"
                  (initError)="handleInitError($event)"
          ></webcam>
        </div>

        <input id="usernameId" type="text" placeholder="Username" [(ngModel)]="usernameTextField" style="width: 500px">
        <button id="loginBtnId" (click)="usernameEntered()">{{instructionText}}</button>
      </div>
    </div>
  </div>

  <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
  </ul>
</div>
